# System
.DS_Store

# Go Builds & Binaries
build/
goodbye-gmail
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage
*.test
*.out
cover.out

# Dependencies
vendor/

# Goodbye Gmail Private Data & Configuration
config/account.yaml
config/token.json
config/rules.yaml
data/
index/
exports/
logs/
.sync_checkpoint

# SQLite Specific
*.sqlite
*.sqlite-journal
*.sqlite-wal
